{% extends 'base.html' %}

{% block content %}

{% if ticker %}
{{ticker}}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" style="margin: 0em 0em 3em 0em;">
            <h1>Research a stock below!</h1>
        </div>
    </div>
    <div class="row">
        <div style="margin: 0% auto 2% auto;">
            <h3>{{ api.symbol }} Stock information</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Company Name</th>
                        <th scope="col">Symbol</th>
                        <th scope="col">Open</th>
                        <th scope="col">Close</th>
                        <th scope="col">52 week high</th>
                        <th scope="col">52 week low</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ api.companyName }}</td>
                        <td>{{ api.symbol }}</td>
                        <td>{{ api.open }}</td>
                        <td>{{ api.close }}</td>
                        <td>{{ api.week52High }}</td>
                        <td>{{ api.week52Low }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="margin: 2% 35% 2% 35%; text-align: center;">
            <form action="{% url 'home' %}" class="form-inline my-2 my-lg-0" method="POST">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="search" placeholder="Get stock quote" aria-label="Search"
                    name="ticker">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Stock Quote</button>
            </form>
        </div>
        <div style="margin: 2% auto 2% auto;">
            <form action="{% url 'add_stock' %}" class="form-inline my-2 my-lg-0" method="">
                {% csrf_token %}
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add Stock
                    to your portfolio</button>
            </form>
        </div>
        {% endblock %}