{% extends 'base.html' %}

{% block content %}
<!-- *********************************** -->


<div style="margin: 0% auto 2% auto; text-align: center">
    <h1>Recommended Stocks</h1>
</div>

<div style="width: 60%; margin: 0% auto 0% auto;">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Symbol</th>
                <th scope="col">Note</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Apple</td>
                <td>AAPL</td>
                <td>Must buy!</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Google</td>
                <td>GOOGL</td>
                <td>Should buy</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Amazon</td>
                <td>AMZN</td>
                <td>Maybe buy</td>
            </tr>
        </tbody>
    </table>



</div>


<!-- *********************************** -->
<div style="margin: 2% auto 0% auto; text-align: center">
    <button class="btn btn-outline-success my-2 my-sm-0">
        <a href="{% url 'home' %}" style="color:green;">Research Stock</a>
    </button>
    <button class="btn btn-outline-success my-2 my-sm-0">
        <a href="{% url 'add_stock' %}" style="color:green;">Add Stock</a>
    </button>
</div>
<div style="width: 60%; margin: 0% auto 0% auto;">
    {{ diagram }}
    <h1>Hello</h1>
</div>



{% endblock %}