{% extends 'base.html' %}

{% block content %}
<!-- *********************************** -->


<div style="margin: 0% auto 2% auto; text-align: center">
    <h1></h1>
</div>

<div style="width: 60%; margin: 0% auto 0% auto;">
    <ul class="list-group">
        <li class="list-group-item active text-center font-weight-bold">Best Practices to be Rich!</li>
        <li class="list-group-item">Only invest what you can afford to lose.</li>
        <li class="list-group-item">Beware the promise of easy money.</li>
        <li class="list-group-item">Don't gamble.</li>
        <li class="list-group-item">Only buy used cars.</li>
        <li class="list-group-item">Do your research before investing in anything.</li>
        <li class="list-group-item">Know your risk profile before commiting money. </li>
        <li class="list-group-item">Have a balanced budget. Revist it occasionally as your life changes.</li>
        <li class="list-group-item">Research 401ks and Roth IRA's. Steady contributions to these will make a huge difference.</li>
    </ul>
</div>


<!-- *********************************** -->
<div style="margin: 2% auto 0% auto; text-align: center">
    <button class="btn btn-outline-success my-2 my-sm-0">
        <a href="{% url 'home' %}" style="color:green;">Research Stock</a>
    </button>
    <button class="btn btn-outline-success my-2 my-sm-0">
        <a href="{% url 'add_stock' %}" style="color:green;">Add Stock</a>
    </button>
</div>

{% endblock %}